<div class="row">
  <div class="col-md-3 col-sm-2 col-xs-1"></div>

  <div class="col-md-6 col-sm-8 col-xs-10">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-6 board-sub-menu job-filter text-center"
             ng-style="vm.isBoardFilterActive('normal')"
             ng-click="vm.onClickBoardFilter('normal')">게시글
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 board-sub-menu job-filter text-center"
             ng-style="vm.isBoardFilterActive('notice')"
             ng-click="vm.onClickBoardFilter('notice')">공지사항
        </div>
      </div>
    </div>

    <div class="row" style="margin-bottom: 10px;"
         ng-if="vm.boardFilter === 'notice' && vm.userLevel == 1 || vm.boardFilter === 'normal'">
      <div class="col-sm-12">
        <textarea class="form-control" rows="4" name="content"
                  ng-model="vm.postData.content" placeholder="호걸은 호걸을 알아보는 법"></textarea>
      </div>
      <div class="col-sm-12 text-right">
        <button type="submit" class="btn btn-default" ng-if="vm.boardFilter === 'normal'"
                ng-click="vm.onClickPostBoard('normal')">
          <span class="glyphicon glyphicon-pencil"></span>&nbsp;글쓰기
        </button>
        <button type="submit" class="btn btn-default"
                ng-if="vm.boardFilter === 'notice' && vm.userLevel == 1"
                ng-click="vm.onClickPostBoard('notice')">
          <span class="glyphicon glyphicon-pencil"></span>&nbsp;공지쓰기
        </button>
      </div>
    </div>

    <div infinite-scroll="vm.getBoardList()" infinite-scroll-disabled="vm.busy"
         infinite-scroll-distance="3">
      <div ng-repeat="item in vm.boardDataContainer" style="margin-bottom: 10px;">
        <div class="row board-box">
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-2 col-sm-1 col-md-1">
              <img style="width: 40px; height: 56px;"
                   src="http://baram.nexon.com/Profile/DrawingImgbyID.aspx?loginID={{item.game_name}}@연"
                   alt="">
            </div>
            <div class="col-xs-10 col-sm-11 col-md-11">
              <div class="board-game-name">{{item.game_name}}</div>
              <div class="board-time">{{item.timeDiff}}</div>
              <div class="board-notice" ng-if="item.notice">*공지*</div>
            </div>
          </div>

          <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-12 board-content" ng-style="item.more === false && {'max-height':'30em'}">{{item.content}}</div>
            <div class="col-xs-12 board-more-text" ng-if="item.more" ng-click="vm.onClickTextExpand(item)">더 보기
            </div>
            <div class="col-xs-12 board-reply-count text-right" ng-if="item.reply_count > 0"
                 ng-click="vm.onClickGetReplyList(item, 'first')">댓글 {{item.reply_count}} 개
            </div>
          </div>
        </div>

        <div class="row reply-box">
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-2 col-sm-1 col-md-1">
              <img style="width: 30px; height: 43px;"
                   src="http://baram.nexon.com/Profile/DrawingImgbyID.aspx?loginID={{vm.gameName}}@연"
                   alt="">
            </div>
            <div class="col-xs-10 col-sm-11 col-md-11">
              <input type="text" class="col-xs-9 col-sm-10 col-md-10 form-control reply-write-input"
                     placeholder="댓글을 입력하세요" ng-model="item.replyData.content">
              <div class="col-xs-3 col-sm-2 col-md-2 reply-write text-center"
                   ng-click="vm.onClickPostReply(item)">게시
              </div>
            </div>
          </div>
          <div class="row" ng-repeat="reply in item.replyContainer" style="margin-bottom: 10px;">
            <div class="col-xs-2 col-sm-1 col-md-1">
              <img style="width: 30px; height: 43px;"
                   src="http://baram.nexon.com/Profile/DrawingImgbyID.aspx?loginID={{reply.game_name}}@연"
                   alt="">
            </div>
            <div class="col-xs-10 col-sm-11 col-md-11" style="padding: 10px;">
              <div>
                <span class="reply-game-name">{{reply.game_name}}</span>
                <span class="reply-content">{{reply.content}}</span>
              </div>
              <div class="board-time">{{reply.timeDiff | timeDiffFilter}}</div>
            </div>
          </div>
          <div class="board-more-text"
               ng-if="(item.reply_count - item.replyRequest) > 0 && item.replyRequest > 0"
               ng-click="vm.onClickGetReplyList(item, 'more')">댓글 더 보기
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-3 col-sm-2 col-xs-1"></div>
