.navigation-active {
    color: #fe4b60;
}

.card-item-box {
    border-top: 2px solid #e1e1e1;
    padding-top: 5px;
    cursor: pointer;
}
.card-item-info {
    /*padding: 9px 12px;*/
}
.card-item-title {
    font-weight : 600;
    letter-spacing : -0.8px;
    font-size: 1.6rem;
}
.card-item-weapon {
    font-weight : 600;
    font-size: 1.2rem;
}
.card-item-type {
    line-height: 40px;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    color: #fe4b60;
    margin-right: 10px;
}
.card-item-job {
    font-weight: 400;
    color: #333;
    font-size: 1.4rem;
}
.card-item-level {
    font-weight: 400;
    color: #b0b0b0;
    font-size: 1.2rem;
}
.thumbnail {
    padding: 0;
    border: none;
    position:relative;
}

.job-ranking {
    top:0;
    left:0;
    position: absolute;
    font-weight: 400;
    font-size: 1.1rem;
    background-color: #fe4b60;
    border-radius: 4px;
    color: white;
    padding:4px;
}

.job-filter {
    font-weight: 400;
    color: #b0b0b0;
    font-size: 1.4rem;
    cursor: pointer;
    padding:5px;
}

.board-sub-menu {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-bottom: 10px;

}

.board-box {
    padding: 13px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
}

.board-game-name {
    font-weight : 600;
    letter-spacing : -0.8px;
    font-size: 1.6rem;
}
.board-time {
    font-weight: 400;
    color: #b0b0b0;
    font-size: 1.2rem;
}
.board-notice{
    font-weight: 400;
    color: #fe4b60;
    font-size: 1.2rem;
}
.board-content {
    font-weight: 400;
    font-size: 1.4rem;

    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-height: 1.5;        /* fallback */
    max-height: 4.5em;       /* fallback */
}

.board-more-text {
    color: #365899;
    cursor: pointer;
}

.board-reply-count {
    font-weight: 400;
    color: #b0b0b0;
    font-size: 1.2rem;
    cursor: pointer;
}

.reply-box {
    padding: 13px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background-color: #f6f7f9;
}

.reply-game-name {
    color: #365899;
    letter-spacing : -0.8px;
    font-size: 1.25rem;
}

.reply-content {
    /*color: #365899;*/
    /*letter-spacing : -0.8px;*/
    font-size: 1.2rem;
}

@media (min-width: 700px) {
    .reply-write-input {
        width: 90%;
    }
    .reply-write {
        color: #b0b0b0;
        font-size: 1.2rem;
        padding:10px;
        width: 10%;
        cursor: pointer;
    }

}
@media (max-width: 700px) {
    .reply-write-input {
        width: 80%;
    }
    .reply-write {
        color: #b0b0b0;
        font-size: 1.2rem;
        padding:10px;
        width: 20%;
        cursor: pointer;
    }

}


