<div class="container">
  <div style="margin-bottom: 20px;">
    <h2 class="modal-title text-center card-item-title">관리자</h2>
  </div>

  <div class="row text-right" style="margin-bottom: 20px;">
    <button class="btn btn-default" ng-click="vm.onClickLevelFilter(-1)">승인 대기중</button>
    <button class="btn btn-default" ng-click="vm.onClickLevelFilter(0)">일반 유저</button>
    <button class="btn btn-default" ng-click="vm.onClickLevelFilter(1)">관리자</button>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th class="text-center">바람아이디</th>
            <th class="text-center">이름</th>
            <th class="text-center">나이</th>
            <th class="text-center">가입일자</th>
            <th class="text-center">승인</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in vm.dataContainer">
            <td class="text-center">{{item.game_name}}</td>
            <td class="text-center">{{item.name}}</td>
            <td class="text-center">{{item.age}}</td>
            <td class="text-center">{{item.created}}시</td>
            <td class="text-center">
              <button ng-if="item.level === -1" ng-click="vm.onClickPutUserLevel(item, 0)" class="btn btn-default">승인</button>
              <button ng-if="item.level === -1" ng-click="vm.onClickPutUserLevel(item, -2)" class="btn btn-default">거부</button>
              <span ng-if="item.level === 0">이미 승인됨</span>
              <span ng-if="item.level === -2">승인 거부</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>




</div>