<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h3 class="text-center" ui-sref="home" style="color: #fe4b60; font-weight: bold; font-size: 21px;">
            팔도 문파</h3>
          <hr class="intro-divider">

          <div class="col-md-6 col-md-offset-3">
            <!--logIn Form-->
            <form role="form" name="logInForm" ng-show="vm.formType === 'logIn'"
                  ng-hide="vm.formType === 'signUp'" novalidate>
              <div class="row">
                <div class="col-md-9 col-md-offset-3 col-xs-9 col-xs-offset-3">
                  <p class="form-group">
                    <label>아이디</label>
                    <input name="logInId" ng-model="vm.logInData.logInId" type="text"
                           class="form-control"
                           style="width:60%;" required maxlength="12" minlength="4"/>
                  <div ng-messages="logInForm.logInId.$error" ng-show="logInForm.logInId.$dirty">
                    <div ng-message="required">아이디를 입력해주세요</div>
                    <div ng-message="maxlength">너무 길어요(최대 12자)</div>
                    <div ng-message="minlength">너무 짧아요(최소 4자)</div>
                  </div>
                  </p>
                  <p class="form-group">
                    <label>비밀번호</label>
                    <input name="password" ng-model="vm.logInData.password" type="password"
                           class="form-control"
                           style="width:60%;" required maxlength="12" minlength="4"/>
                  <div ng-messages="logInForm.password.$error" ng-show="logInForm.password.$dirty">
                    <div ng-message="required">비밀번호를 입력해주세요</div>
                    <div ng-message="maxlength">너무 길어요(최대 12자)</div>
                    <div ng-message="minlength">너무 짧아요(최소 4자)</div>
                  </div>
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-9 col-md-offset-3 col-xs-9 col-xs-offset-3">
                  <div>
                    <div ng-if="vm.errorText1.length != 0">
                      {{vm.errorText1}}
                    </div>
                    <button class="btn btn-danger" style="margin-top:5%;width:60%;"
                            ng-class="{'disabled' : logInForm.$invalid}"
                            ng-click="vm.onClickLogin(logInForm.$valid)">
                      로그인
                    </button>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-9 col-md-offset- col-xs-9 col-xs-offset-3">
                  <div>
                    <div class="text-right" style="cursor: pointer;margin-top:5%;width:60%;"
                            ng-click="vm.showFormType('signUp')">
                      회원가입
                    </div>
                  </div>
                </div>
              </div>

            </form>
            <!--logIn Form-->

            <!--signup form-->
            <form role="form" name="signUpForm" ng-show="vm.formType === 'signUp'"
                  ng-hide="vm.formType === 'logIn'" novalidate>
              <div class="row">
                <div class="col-md-9 col-md-offset-3 col-xs-9 col-xs-offset-3">
                  <p class="form-group">
                    <label>아이디</label>
                    <input name="logInId" ng-model="vm.signUpData.loginId" type="text"
                           class="form-control"
                           style="width:60%;" required maxlength="12" minlength="4"/>
                  </p>
                  <div ng-messages="signUpForm.logInId.$error" ng-show="signUpForm.logInId.$dirty">
                    <div ng-message="required">아이디를 입력해주세요</div>
                    <div ng-message="maxlength">너무 길어요(최대 12자)</div>
                    <div ng-message="minlength">너무 짧아요(최소 4자)</div>
                  </div>
                  <p class="form-group">
                    <label>비밀번호</label>
                    <input name="password" ng-model="vm.signUpData.password" type="password"
                           class="form-control"
                           style="width:60%;" required maxlength="12" minlength="4"/>
                  </p>
                  <div ng-messages="signUpForm.password.$error"
                       ng-show="signUpForm.password.$dirty">
                    <div ng-message="required">비밀번호를 입력해주세요</div>
                    <div ng-message="maxlength">너무 길어요(최대 12자)</div>
                    <div ng-message="minlength">너무 짧아요(최소 4자)</div>
                  </div>
                  <hr>


                  <p class="form-group">
                    <label>바람 아이디</label>
                    <input name="gameName" ng-model="vm.signUpData.gameName" type="text"
                           class="form-control"
                           style="width:60%;" required/>
                  <div ng-messages="signUpForm.gameName.$error"
                       ng-show="signUpForm.gameName.$dirty">
                    <div ng-message="required">바람 아이디 입력해주세요</div>
                  </div>
                  </p>
                  <p class="form-group">
                    <label>이름</label>
                    <input name="name" ng-model="vm.signUpData.name" type="text"
                           class="form-control"
                           style="width:60%;" required/>
                  <div ng-messages="signUpForm.name.$error" ng-show="signUpForm.name.$dirty">
                    <div ng-message="required">실명 입력해주세요</div>
                  </div>
                  </p>
                  <!--<p class="form-group">-->
                    <!--<label>핸드폰 번호</label>-->
                    <!--<input name="phone" ng-model="vm.signUpData.phone" type="number"-->
                           <!--class="form-control"-->
                           <!--style="width:60%;" required maxlength="12" minlength="9"/>-->
                  <!--<div ng-messages="signUpForm.phone.$error" ng-show="signUpForm.phone.$dirty">-->
                    <!--<div ng-message="required">번호를 입력해주세요</div>-->
                    <!--<div ng-message="maxlength">양식에 맞춰주세요(최대 12자)</div>-->
                    <!--<div ng-message="minlength">양식에 맞춰주세요(최소 9자)</div>-->
                  <!--</div>-->
                  <!--</p>-->
                  <p class="form-group">
                    <label>나이</label>
                    <input name="age" ng-model="vm.signUpData.age" type="number"
                           class="form-control"
                           style="width:60%;" required/>
                  <div ng-messages="signUpForm.age.$error" ng-show="signUpForm.age.$dirty">
                    <div ng-message="required">나이를 입력해주세요</div>
                  </div>
                  </p>

                  <p class="form-group">
                    <label>레이드콜</label>
                    <input name="name" ng-model="vm.signUpData.voiceId" type="text"
                           class="form-control" placeholder="있으면 입력해주세요."
                           style="width:60%;"/>
                  </p>

                  <div>정보를 정확히 입력하셔야 승인을 받을 수 있습니다.</div>

                  <!--<p class="form-group">-->
                    <!--<label>성별&nbsp;&nbsp;</label>-->
                    <!--<label class="radio-inline">-->
                      <!--<input ng-model="vm.signUpData.sex" type="radio" value="남자" required>남자-->
                    <!--</label>-->
                    <!--<label class="radio-inline">-->
                      <!--<input ng-model="vm.signUpData.sex" type="radio" value="여자" required>여자-->
                    <!--</label>-->
                  <!--</p>-->

                  <!--<p class="form-group">-->
                    <!--<label>군필&nbsp;&nbsp;</label>-->
                    <!--<label class="radio-inline">-->
                      <!--<input ng-model="vm.signUpData.army" type="radio" value="군필" required>군필-->
                    <!--</label>-->
                    <!--<label class="radio-inline">-->
                      <!--<input ng-model="vm.signUpData.army" type="radio" value="미필" required>미필-->
                    <!--</label>-->
                    <!--<label class="radio-inline">-->
                      <!--<input ng-model="vm.signUpData.army" type="radio" value="면제/공익" required>면제/공익-->
                    <!--</label>-->
                  <!--</p>-->
                <!--</div>-->
              <!--</div>-->

              <div class="row">
                <div class="col-md-9 col-md-offset-3 col-xs-9 col-xs-offset-3">
                  <div>
                    <div ng-if="vm.errorText2.length != 0">
                      {{vm.errorText2}}
                    </div>
                    <button class="btn btn-danger" style="margin-top:5%;width:60%;"
                            ng-class="{'disabled' : signUpForm.$invalid}" type="submit"
                            ng-click="vm.onClickSignUp(signUpForm.$valid)">
                      가입하기
                    </button>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-9 col-md-offset- col-xs-9 col-xs-offset-3">
                  <div>
                    <div class="text-right" style="cursor:pointer;margin-top:5%;width:60%;"
                            ng-click="vm.showFormType('logIn')">
                      로그인
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <!--signup form-->

          </div>

        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->
</div>
<!-- /.intro-header -->

<div class="content-section-a">

  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">호걸은 호걸을 알아보는 법</h2>
        <p class="lead">
          4성통일을 위해 달린다
        </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">

        <div class="container" style="margin-top: 50px;">
          <div class="row">
            <img class=""
                 src="http://baram.nexon.com/Profile/DrawingImgbyID.aspx?loginID=%EB%B9%84%EB%B9%94%EC%B0%B8@%EC%97%B0"
                 alt="">
            <img class=""
                 src="http://baram.nexon.com/Profile/DrawingImgbyID.aspx?loginID=%ED%99%A9%EC%9D%B8%EC%9A%B1@%EC%97%B0"
                 alt="">
            <img class=""
                 src="http://baram.nexon.com/Profile/DrawingImgbyID.aspx?loginID=%ED%81%B0%EC%B4%9D@%EC%97%B0"
                 alt="">
            <!--<img class="img-responsive"-->
                 <!--src="http://baram.nexon.com/Profile/DrawingImgbyID.aspx?loginID=%EB%B9%84%EB%B9%94%EC%A7%A4@%EC%97%B0"-->
                 <!--alt="">-->
          </div>
        </div>
      </div>

    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="copyright text-muted small">Copyright &copy; 비빔맹구. All Rights Reserved / 문의 :
          scvhss@naver.com</p>
      </div>
    </div>
  </div>
</footer>

<link rel="stylesheet" href="styles/landing.css">